.jobIcon {

	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 0px;
	border: 2px solid black;
	display: inline-block;
	border-radius: 4px;
	background-color: #6aa0cf;
	color: white;
	text-align: center;
}

.well.contact {

	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;

	h3 { margin-top: 0px; }
}

.well.contact {

	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;

	h3 { margin-top: 0px; }

}

.well.white-bg {

	background-color: white;
}

